<!-- Header -->
	<header id="header" class="alt">
			<a href="{{site.baseurl }}/index.html"><img src="/assets/images/cityzenapp_logo_white 2.png" width="50px" style="padding: 8px;"></a>		
			<nav id="nav">
			<ul>
				<li><a href="{{site.baseurl }}/index.html" class="page-scroll">Home</a></li>
				<li><a href="{{ site.baseurl }}/#features" class="page-scroll">Features</a></li>
				<li><a href="{{site.baseurl}}/#news" class="page-scroll">News</a></li>
				<li><a href="#footer" class="page-scroll">Contact us</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
	</header>
